<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465766097153-bjdog0a9fn5rjhi9ebrulm9rf844se6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465766097153-bjdog0a9fn5rjhi9ebrulm9rf844se6s</string>
	<key>API_KEY</key>
	<string>AIzaSyCEjQ1UrUCymlqVmYKuozuTbAjw4K_C_6A</string>
	<key>GCM_SENDER_ID</key>
	<string>465766097153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.register.pocregistrationform.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pocregister-7ef18</string>
	<key>STORAGE_BUCKET</key>
	<string>pocregister-7ef18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465766097153:ios:eb9a041aa892e62abdfb00</string>
</dict>
</plist>